* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  background-color: #383880;
}
.title {
  text-align: center;
  margin: 50px auto 50px;
  font-weight: bolder;
}
form {
  display: flex;
  background: #7f7fc7;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  margin: auto;
}
.search-box {
  padding: 8px 20px;
  flex: 1;
  height: 100%;
  font-size: larger;
  border: none;
  outline: 0;
  background-color: transparent;
  color:white;
}
.submit-btn {
  width: 14%;
  min-width: 80px;
  padding: 8px;
  background: rgb(70, 221, 70);
  border: none;
  font-size: large ;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
#show-more-btn{
    background: orangered;
    border:0;
    outline:0;
    padding :10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px auto 100px;
    display: none;
}
#search-result{
  width:80%;
  padding:5px;
  margin: 20px 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:30px;

}
#search-result img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.credit{
  position: fixed;
  right: 5px;
  bottom: 5px;
  margin: 5px;
}
@media(max-width:1080px){
  #search-result{
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
  }
  
}
@media(max-width:500px){
  #search-result{
    grid-template-columns: auto;
  }
  
}