:root {
  --c-dark: #212529;
  --c-brand: #4e57d4;
  --c-dark-light: #6970dd;
  --c-dark-rgb: 78, 87, 212;
  --c-body: #727272;
  --font-base: "Fira Code", sans-serif;
  --box-shadow: ;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container-fluid {
  width: 100vh !important;
}
html , body{
    overflow-x: hidden;
}
body {
  overflow-x: hidden;
  /* background-size: cover !important; */
}
img {
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none !important;
}
.navbar-dark .navbar-toggler-icon {
  border-color: red;
}
/* navbar  */
nav {
  background-color: #212529;
}
nav .container-fluid .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo img {
  height: 70px;
}
.nav-list ul {
  display: flex;
  gap: 1rem;
}
.navbar a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  color: white;
}
.navbar a:hover {
  color: yellow;
}
.hero-section{
  width: 100vw;
  height: 100vh;
}
.hero-section .overlay{
  background: rgba(0, 0, 0, .6);
}
.carousel-indicators [data-bs-target] {
  outline: 2px;
  border-radius: 50% !important;
  width: 1rem !important;
  height: 1rem !important;
}

/* contact us  */
.social-link {
  cursor: pointer;
  overflow: hidden;
}
.location i {
  font-size: 1.3rem;
}
.contact-us .social-link{
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  font-size: 3rem !important;
}
.contact-us .social-link i{
  padding: 0 .2em;
  border-radius: 50px;
  transition: all .3s ease;
}
.contact-us .social-link i:hover{
  color: rgb(255, 200, 0);
  background-color: black;
}
/* services  */
.card {
  background-color: transparent !important;
  border: none !important;
}
.service-icon i {
  position: relative;

  cursor: pointer;
  font-size: 80px;
  z-index: 101;
  color: #212529;
}
.service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
  margin: 2rem auto;
}
.service-icon::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  translate: (-50%, -50%);
  border: 2px solid rgb(255, 166, 0);
  z-index: 100;
  transition: all 0.3s ease;
}
.service-icon:hover::after {
  background-color: rgb(255, 150, 13);
  border: none;
  transform: rotate(125deg);
}
.service-icon i:hover {
  color: rgb(255, 255, 255);
}
.pizza-section , .menu-section , .category  , strong {
  background: url(./images/bg_4.jpg) !important;
}

/* pizza section  */
.pizza-section {
  padding: 3rem 0;
}
.pizza-container {
  background: url(./images/bg_4.jpg) !important ;

  display: flex;
  justify-content: center;
}
.pizza {
  display: flex;
  flex: 1 1 0;
  width: 500px;
  justify-content: center;
  align-items: center;
  overflow: none;

}
.pizza .pizza-img {
  flex: 1;
  height: 100%;
}
.pizza-img img {
  height: 100%;
  object-fit: cover;
}
.pizza-text {
  flex: 1;
  padding: 1rem 0;
}
.pizza-text h3,
p,
.price-order {
  margin: 0px 10px;
}
.price-order {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pizza-text .price-order button {
  margin: auto;
}
.pizza-text .price-order button:hover {
  background-color: rgb(255, 230, 0);
}
.pizza-container-2 .pizza {
  flex-direction: row-reverse;
}
/* menu pricing  */
.menu-section {

}
.menu {
  display: flex;
  justify-content: center;
  height: 75px;
  margin: 10px 0;
  overflow: none;
}
.menu .menu-img {
  height: 100%;
  height: 75px;
  width: 75px;
  border-radius: 50px;
  overflow: hidden;
}
.menu .menu-img img {
  object-fit: contain;
  scale: 1.4;
  height: inherit;
}
.menu-name-price {
  display: flex;
  overflow: none;
  justify-content: space-between;
  z-index: 0;
  position: relative;
}
.menu-name-price h5,
strong {

  z-index: 0;
  overflow: none;
}

.menu-name-price h5::after {
  content: "..........................................................";
  color: yellow;
  position: absolute;
  z-index: -1;
}

/* gallery  */
.gallery .container-fluid {
  height: 200px;
  display: flex;
  overflow: hidden;
}
.gallery .gallery-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.gallery .gallery-img img {
  height: 100%;
  object-fit: cover;
}
.gallery .gallery-img:hover .icon-box{
    opacity: 1;
    transform: rotate(0);
}
.icon-box{
    font-size: 3rem;
    background-color: rgb(245, 196, 36);
    padding: .1em .3em;
    position: absolute;
    opacity: 0;
    transition: all .5s linear;
    transform: rotate(95deg);
}
.achivement-section {
    background: url(./images/bg_2.jpg);
}
.achivement-section .overlay , .category .overlay {
  background: rgba(0, 0, 0, .8);
}
 .service-content p{
  color: rgba(0, 0, 0, 0.658) !important;
 }
.achivement-section .service-icon{
    color: rgb(255, 221, 0);
}
.achivement-section .service-icon i{
    color: rgb(255, 197, 7);
}
.achivement-section .service-icon i:hover{
    color: black;
}
.achivement-section .card-titile{
    color:rgb(255, 162, 0);
}
.achivement-section .container  .services .service .service-content p{
    color:white !important ;
}

/* contact-us  */
.contact-us form input , textarea{
}

/* footer  */

.footer .social-link i{
  background: rgba(255, 255, 255, 0.3);
  padding:.2em;
  border-radius: 50px;
  transition: all .3s ease;
}
.footer .social-link i:hover{
  background: #000;
  color: rgb(255, 200, 0);
}
.footer-blog-text p , i ,  span {
  cursor: pointer;
}
.footer-blog img{
  max-width: 100%;
  height: 100%;
}
.footer-blog p{
  cursor: pointer;
}
.footer ul {
  list-style: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0;
}

.pizza{
  background: none;
}
.category-container .pizza{
  flex: 1 1 0;
  width: auto;
}
@media (max-width:600px) {
  .contact-us .social-link{
    flex-direction: column !important;
  }
  .category-container {
    flex-shrink: 1;
    flex-direction: column;
  }

}
.category-container-parent>div{
  display: none !important;
}

.category-container-parent .active-category{
  display: flex !important;
}
.category-container .pizza-img{
  border-radius: 50%;
  max-width: 200px;
  overflow: hidden;
}
.category-container .pizza-img img{
  transform: scale(1.1);
}


.pizza-section .pizza-container .pizza{
  padding: 0  ;
}
