*{
    margin: 0;
    padding: 0;
}
body{
  overflow: auto;
}
.container{
    padding: 5% 0 0 10%;
    width: 90%;
    min-height: 100vh;
    background: linear-gradient(90deg, rgb(248, 92, 92),rgb(252, 175, 175));
    
}
.container h2{
    font-size: 40px;
    display: flex;
    align-items: center;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#9418fd,#571094);
    color:#fff;
    border: none;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius:50px;
    font-size: 25px;
    text-align: center;
    transition: 4.3s;
    cursor: pointer;
}



.container h2 i{
    font-size:40px
}
.container i{
    font-size: 25px;
   margin-right: 20px;
}
.input-box{
    margin:20px 0;
    width: 100%;
    outline: none;
    border-radius: 20px;
    max-width: 500px;
    min-height: 150px;
    background-color: #ffffff;
    position: relative;
    padding: 20px;
    overflow:auto
}
.fa-trash{
    position: absolute;
    bottom: 5px;
    right:5px;
    cursor: pointer;
}