@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --c-dark: #212529;
  --c-voilet: #6f34fe;
  --c-brand: #4e57d4;
  --c-dark-light: #6970dd;
  --c-dark-rgb: 78, 87, 212;
  --c-body: #727272;
  --font-base: "Fira Code", sans-serif;
  --transition-base: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", 'Courier New', Courier, monospace;
}
body{
    margin:0;
    padding: 0;
    min-width: 350px;
}
img {
  width: 100%;
  height: auto;
}

.container-fluid , .container{
    padding-top:4em;
}
.rounded-pill {
  font-size: 1.4rem !important;
}
.navbar-logo a{
  cursor: pointer;
  text-decoration: none;
}
.nav-link ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.nav-link ul a,
li {
  text-decoration: none !important;
  color: black;
}
.nav-link ul li {
  transition: var(--transition-base);
  position: relative;
}
.nav-link ul li:hover {
  color: #fca61f;
}
.nav-link ul li:after {
  display: block;
  background-color: #fca61f;
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  left: 50%;
  bottom: -5px;
  transition: var(--transition-base);
}
ul li:hover:after {
  width: 100%;
  left: 0;
}
.contact-button a{
  text-decoration: none;
}
.hero {
  padding: 5rem;
  margin: 5rem;
}
.hero-img {
  cursor: pointer;
  height: 450px !important;
  overflow: clip;
  transition: var(--transition-base) !important;
}
.hero-img:hover{
  translate: 10%;
}
.hero-text .display-2 {
  color: var(--c-voilet);
}
.container {
  margin-top: 5rem;
  bottom: 6rem;
}
.services-cards {
  flex: 1 1 0;
}
.service-card,
.card-body {
  border-radius: 15px;
  padding: 20px;
}
.fa-solid {
  font-size: 7rem;
}
/* title  */
.section-title .heading {
  color: var(--c-voilet);
}
.section-title .sub-heading {
  color: #3f396d;
  width: 20ch;
  margin: auto;
  font-weight: 800;
}
#about {
  background-color: #cfcfcf;
  padding: 3rem;
}

.progress-container {
  margin-top: 4rem !important;
  gap: 1rem;
  justify-content: center;
}
.progress-bar {
  cursor: pointer;
  min-width: 250px;
  min-height: 250px;
  background-color: white !important;
  border-radius: 10px;
}
.progress-bar:hover {
  box-shadow: 0 0 5px 5px grey;
  transform: scale(1.05);
  transition: var(--transition-base);
}
.global {
  width: auto !important;
}

/* testimonial  */
.testimonial-img img{
  transition: var(--transition-base);
  cursor: pointer;
}
.testimonial-img img:hover{
    transform: scale(1.1);
}
.comment-arrows > i{
  cursor: pointer;
}
/* button hover up effect  */
.btn {
  transition: none !important; /* Disables Bootstrap's default transitions */
}
.hover-up {
  transition: var(--transition-base) !important;
}
.hover-up:hover {
  transform: translateY(-20%);
}

/* porfolio  */

.card {
  cursor: pointer;
  border-radius: 15px !important;
  border: none;
  overflow: clip;
  transition: var(--transition-base);
 
}
.card:hover{
  box-shadow: 0 0 5px 5px grey ;
}
.portfolio-cards .card:hover{
  background-color: #ffbf00;
}
.blog-card-img{
  overflow: hidden;
  height: 200px !important;
  object-fit: cover;
}
.blog-card-img img{
  transition: var(--transition-base);
  cursor: pointer;  
}
.blog-card-img img:hover{
  transform: scale(1.2);
}
footer {
  background-color: #211e39 !important;
}
.social-links {
  cursor: pointer;
}
.footer-link ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.footer-link ul a,
li {
  text-decoration: none !important;
  font-weight: 600;
  transition:var(--transition-base);
}
.footer-link li:hover {
  color: yellow;
}
#contact a {
  color: black;
  text-decoration: none;
}

.social-links i {
  transition: var(--transition-base)
}
.social-links > :nth-child(1) {
  color: pink !important;
}
.social-links > :nth-child(1):hover {
  color: white !important;
  background-color: pink !important;
}

/* Select the second child */
.social-links > :nth-child(2) {
  color: green !important;
}
.social-links > :nth-child(2):hover {
  color: white !important;
  background-color: green !important;
}

/* Select the third child */
.social-links > :nth-child(3) {
  color: lightskyblue;
}
.social-links > :nth-child(3):hover {
  color: white;
  background-color: lightskyblue;
}

/* toggle menu bar  */

.menu-bar {
  position: absolute;
  right: 1rem;
  top: 1rem;
  margin-right: 15px;
  cursor: pointer;
  display: none !important;
}
.back-to-btn{
  background:none !important;
  cursor: pointer;
  position: fixed;
  bottom:1rem;
  right:1rem;
  z-index: 1000;
  background-color: white;
}
@media (min-width: 800px) {
  .hero {
    height: 90vh;
  }
}
@media (max-width: 800px) {
  .navbar ul {
    display: none;
  }
  .navbar,
  .navbar ul {
    display: block !important;
    flex-direction: column;
  }
  .navbar ul {
    display: none !important;
  }
  nav .active ul {
    display: flex !important;
  }

  .nav-link ul,
  .navbar button {
    display: none;
  }
  .menu-bar {
    display: block !important;
  }
  .footer-link ul{
    flex-direction: column;
  }
}

